<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .h2-text {
            color: red
        }

    </style>
</head>
<body>
<div>
    <h1 id="h1-text">H1 text</h1>
    <h2 class="h2-text">H2 text</h2>
    <h6 class="h2-text">H6 text</h6>
    <p>text</p>
    <p>dfiojnefneiojkgn eiojkg oergi oerngojrengojer ngjoerng <span style="color: green">Mobile Safari</span> iojerjngio
        jerjngoji nrgojineriog jkerngji ojeriogjerio greio jioerjgioer giojer jgioer jioer gioerj gioerg ioerjn gioergj
        ioergj ioergj ioerjg oire g</p>
    <a href="https://chat.deepseek.com/" target="_blank">Python</a>
    <img alt="browsers.png" src="https://depomall21.ru/upload/iblock/152/15201698c69b459f1d327a3ecb3cca02.png"
         style="width: 250px">
    <ul>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
    </ul>
    <ol>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
    </ol>
    <form action="/action" method="POST">
        <input type="text" value="123" placeholder="Text">
        <input required type="email" placeholder="Email">
        <input type="password" placeholder="Password">
        <textarea required placeholder="Text">123456789</textarea>
        <button type="submit">text</button>
    </form>
    <table>
        <thead>
        <tr>
            <td> Item 1</td>
            <td> Item 2</td>
            <td> Item 3</td>
        </tr>

        <tbody>
        <tr>
            <td> Row 1</td>
            <td> Row 2</td>
            <td> Row 3</td>
        </tr>
        <tr>
            <td> Row 1</td>
            <td> Row 2</td>
            <td> Row 3</td>
        </tr>
        </tbody>
        </thead>
    </table>
</div>
</body>
</html>
